#advertisement {
  width: 100%;
}

.TitleBox {
  background-color: #16171D;
  text-align: center;
  height: 60px;
}

.InnerBox {
  padding: 40px;
  background-color: #0D0F13;

  .ResortContainer {
    display: flex;
    justify-content: space-around;    
  }
}

.ResortCard {
  width: 150px;
  text-align: left;
  margin: 10px;

  img {
    width: 100%;
  }

  .location {
    font-style: italic;
  }
}